server.url = http://127.0.0.1/ScattPort/xmlrpc
client.secret = abcdef
fetchjob.interval = 10
progress.interval = 5
heartbeat.interval = 10
calculation.path = /tmp/
ftp.host = 127.0.0.1
ftp.port = 21
ftp.user = scattport
ftp.pass = scattport